tests/dify/fixtures/qa_fold.yml
# 问答骨架 advanced-chat：start → knowledge-retrieval(kr) → llm(context 指向 kr) → answer。
# 用于验证 P7 answer_question 折叠：llm 的 context.variable_selector 指向 kr_1 的检索结果，
# 整体折叠成一次 ragspine.answer_question（自带反幻觉/provenance）。折叠默认开，可经
# fold_answer_question=False 关闭还原成逐节点 retrieve + chat。
app:
  mode: advanced-chat
  name: qa-fold-demo
kind: app
version: "0.1.5"
workflow:
  graph:
    nodes:
      - id: start_1
        data:
          type: start
          title: 开始
          variables:
            - {variable: question, label: 问题, type: text-input, required: true}
      - id: kr_1
        data:
          type: knowledge-retrieval
          title: 知识检索
          query_variable_selector: [start_1, question]
          dataset_ids: [ds_hk]
          multiple_retrieval_config: {top_k: 4}
      - id: llm_1
        data:
          type: llm
          title: 应答模型
          model:
            provider: anthropic
            name: claude-opus-4-8
            completion_params: {max_tokens: 512}
          context:
            enabled: true
            variable_selector: [kr_1, result]
          prompt_template:
            - role: user
              text: "根据资料回答：{{#start_1.question#}}"
      - id: answer_1
        data:
          type: answer
          title: 回复
          answer: "{{#llm_1.text#}}"
    edges:
      - {source: start_1, target: kr_1, sourceHandle: source}
      - {source: kr_1, target: llm_1, sourceHandle: source}
      - {source: llm_1, target: answer_1, sourceHandle: source}
