tests/n8n/fixtures/unknown.json
{
  "name": "Unknown Demo",
  "nodes": [
    {
      "id": "d0f5c4b3-3333-4c6c-7e3a-000000000001",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "parameters": {}
    },
    {
      "id": "d0f5c4b3-3333-4c6c-7e3a-000000000002",
      "name": "Fetch Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "parameters": {
        "url": "https://example.com/api/data",
        "method": "GET",
        "options": {}
      }
    },
    {
      "id": "d0f5c4b3-3333-4c6c-7e3a-000000000003",
      "name": "Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "language": "python",
        "pythonCode": "items = _input.all()\nreturn [{\"result\": len(items)}]"
      }
    },
    {
      "id": "d0f5c4b3-3333-4c6c-7e3a-000000000004",
      "name": "Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "final",
              "value": "={{ $json.result }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d0f5c4b3-3333-4c6c-7e3a-000000000005",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 0],
      "parameters": {}
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Fetch Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Data": {
      "main": [
        [
          {
            "node": "Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
