tests/n8n/fixtures/webhook.json
{
  "name": "Webhook Demo",
  "nodes": [
    {
      "id": "c7e4a2d1-2222-4b5b-8d2e-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "demo-hook",
        "responseMode": "lastNode"
      }
    },
    {
      "id": "c7e4a2d1-2222-4b5b-8d2e-000000000002",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [220, 0],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.question }}",
        "options": {
          "systemMessage": "You are a helpful assistant."
        }
      }
    },
    {
      "id": "c7e4a2d1-2222-4b5b-8d2e-000000000003",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [220, 200],
      "parameters": {
        "model": {
          "value": "claude-sonnet-4-5",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      }
    },
    {
      "id": "c7e4a2d1-2222-4b5b-8d2e-000000000004",
      "name": "Format Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [440, 0],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "result",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
